@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  img,
  picture {
    max-width: 100%;
    display: block;
  }

  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  input,
  button,
  select {
    font-family: inherit;
    font-size: inherit;
  }
}

@layer components {
  @font-face {
    font-display: swap;
    font-family: "Pacifico";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/pacifico-v22-latin-regular.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/lato-v24-latin-300.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/lato-v24-latin-regular.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/lato-v24-latin-700.woff2") format("woff2");
  }

  :root {
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;

    --fs-sub-text: 0.8rem;
    --fs-body-text: clamp(1rem, 1.5vw, 1.1rem);
    --fs-text-heading: clamp(1.25rem, 1.5vw, 1.5rem);
    --fs-topper-heading: clamp(0.8rem, 1.5vw, 1rem);
    --fs-sub-heading: clamp(2rem, 3.5vw, 3rem);
    --fs-heading: clamp(2.7rem, 5vw, 4rem);
    --fs-card-heading: clamp(1.56rem, 3vw, 2.25rem);
    --fs-card-text: clamp(0.875rem, 1.5vw, 1rem);
    --fs-nav-L-screen: clamp(0.8rem, 1.2vw, 1.1rem);
    --fs-nav-S-screen: clamp(1rem, 2.5vw, 1.5rem);

    --ff-headings-pacifico: "Pacifico", Arial, sans-serif;
    --ff-body-lato: "Lato", Arial, sans-serif;

    --padd-60-100: clamp(3.75rem, 8vw, 6.25rem);

    --clr-lighter-white: #fafbfc;
    --clr-lighter-black: #1a1a1a;
    --clr-green-100: #e8ffd7;
    --clr-green-200: #93da97;
    --clr-green-300: #5e936c;
    --clr-green-400: #3e5f44;
    --clr-nav-shadow-light: hsla(0, 0%, 27%, 0.3);
    --clr-nav-shadow-dark: hsla(0, 0%, 27%, 0.3);

    /* --bg-primary-blue: var(--clr-green-300);
    --bg-btn: var(--clr-green-300);
    --bg-btn-active: var(--clr-green-100);
    --bg-svg-decorations: var(--clr-green-100); */

    --text-body-white: var(--clr-lighter-white);
    --text-sub-heading-black: var(--clr-lighter-black);
    --text-topper-heading-gray: var(--clr-gray-100);
    --text-primary: var(--clr-gray-200);
    --text-primary-dark: var(--clr-green-300);

    :focus-visible {
      outline: 2px solid var(--clr-green-300);
      outline-offset: 2px;
    }
  }
}

@layer page-transitions {
  /* @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  } */

  /* Animation change for dark-mode */

  @media (prefers-reduced-motion: no-preference) {
    ::view-transition-old(root) {
      animation-delay: 1.5s;
    }

    ::view-transition-new(root) {
      animation: circle-in-S 1.5s ease-out;
    }

    @media (width > 47.5rem) {
      ::view-transition-new(root) {
        animation: circle-in-L 1.5s ease-out;
      }
    }
  }
}

@layer base {
  body {
    font-size: 1rem;
    font-family: var(--ff-body-lato);
    font-weight: 400;
    overflow-x: clip;
    margin: 0;
    min-height: 100vh;
  }

  body.home {
    background: rgba(0, 0, 0, 0.273) url("/assets/images/garden-day.jpg")
      no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\      *** HEADER ***       \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  #header {
    position: relative;
    top: 0;
    z-index: 1000;
    background-color: #ffffffb9;
    box-shadow: 1px 1px 25px #00000078;
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
  }

  .wrapper--header {
    min-height: clamp(4.75rem, 6vw, 6rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .business-logo {
    position: relative;
    width: 100%;
    max-width: 100px;
    height: auto;
    transition: transform 1.8s ease-out;

    @media (prefers-reduced-motion: reduce) {
      transition: none !important;
    }
  }

  .hamburger-btn-box {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    order: 1;
  }

  .hamburger-btn {
    width: 1.87rem;
    height: 1.5rem;
    background-color: var(--clr-green-300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    border: none;
    z-index: 10;
    padding: 0.75rem;
    border-radius: 30%;
    background-clip: padding-box;
    box-sizing: content-box;
    transition: transform 1.2s;
    /* prettier-ignore */
    transition-timing-function: linear(0, -0.001 6.9%, -0.004 9.1%, -0.008 11%, -0.016 12.9%, -0.025 14.6%, -0.038 16.3%, -0.054 17.9%, -0.073 19.5%, -0.095 21%, -0.152 24.1%, -0.217 27%, -0.358 32.6%, -0.408 35%, -0.428 36.3%, -0.439 37.5%, -0.441 38.6%, -0.436 39.6%, -0.423 40.5%, -0.405 41.3%, -0.35 42.8%, -0.27 44.2%, -0.156 45.6%, -0.014 46.9%, 0.153 48.1%, 0.766 51.4%, 1.05 53.4%, 1.184 54.7%, 1.284 56%, 1.359 57.4%, 1.39 58.2%, 1.413 59%, 1.434 60.2%, 1.439 60.8%, 1.441 61.5%, 1.44 62.2%, 1.436 62.9%, 1.418 64.4%, 1.395 65.7%, 1.365 67.1%, 1.212 73.2%, 1.146 76.2%, 1.089 79.4%, 1.067 81%, 1.047 82.7%, 1.034 84.2%, 1.023 85.8%, 1.014 87.5%, 1.008 89.3%, 1.004 91.2%, 1.001 93.3%, 1);

    span {
      height: 2.5px;
      background-color: #c5c3c3;
      border-radius: 3px;
      opacity: 1;
      pointer-events: none;
      transition: transform 0.4s ease-out, opacity 0.6s ease-out;
    }

    &.active {
      transform: scale(1.15);

      span:nth-child(2) {
        transform: translateX(300%);
        opacity: 0;
      }

      span:first-child {
        transform: rotate(410deg) translate(0.5rem, 0.44rem);
        transition-delay: 0.6s;
      }

      span:last-child {
        transform: rotate(-410deg) translate(0.5rem, -0.44rem);
        transition-delay: 0.6s;
      }
    }

    &:hover span,
    &:focus-visible span {
      background: #fff;
    }

    @media (width > 62.5rem) {
      & {
        display: none;
      }
    }

    @media (prefers-reduced-motion: reduce) {
      transition: none !important;
      transform: none !important;
    }
  }

  .nav-bar {
    display: none;
    position: fixed;
    background-color: #ffffffe7;
    color: var(--clr-green-300);
    font-weight: 400;
    font-family: var(--ff-headings-pacifico);
    text-transform: uppercase;
    top: 25vh;
    right: -400px;
    width: 400px;
    padding: 2em;
    text-align: center;
    z-index: -10;
    border-bottom-left-radius: 4rem;
    border-top-left-radius: 4rem;
    box-shadow: 1px 1px 60px var(--clr-lighter-black);
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transform: translateX(220px);
    /* prettier-ignore */
    transition: transform 1s linear(0, 0.49 7.4%, 0.864 15.3%, 1.005 19.4%, 1.12 23.7%, 1.206 28.1%, 1.267 32.8%, 1.296 36.4%, 1.311 40.2%, 1.313 44.2%, 1.301 48.6%, 1.252 56.9%, 1.105 74.4%, 1.048 82.5%, 1.011 91.1%, 1);

    ul {
      position: relative;
      color: var(--clr-lighter-black);
      display: flex;
      flex-direction: column;
      width: fit-content;
      font-size: clamp(0.65rem, 1.8vw, 0.85rem);
      letter-spacing: 0.5rem;
      left: 0.25rem;
      margin-right: auto;
      gap: 1.75rem;
      margin-bottom: 0;
      list-style: none;

      @media (width > 62.5rem) {
        font-size: 0.85rem;
        flex-direction: row;
        gap: 3.5rem;
      }
    }

    & li:not(:last-of-type)::after {
      position: relative;
      content: "";
      display: block;
      margin-top: 1.75rem;
      margin-inline: auto;
      height: 2px;
      width: 3rem;
      background: var(--clr-green-400);
      opacity: 0.2;
      margin-block-end: inherit;
    }

    a {
      text-decoration: none;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.215);
      transition: color 0.3s ease-out;

      &.active-link {
        color: var(--clr-green-300);
      }

      &:hover,
      &:focus-visible {
        color: var(--clr-green-300) !important;
        transition: color 0.2s ease-out;
      }

      @media (width > 62.5rem) {
        &.active-link {
          position: relative;
          color: var(--clr-lighter-black);
        }

        &.active-link::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0%;
          height: 2px;
          background-color: var(--clr-green-200);
          transition: width 0.6s ease-out;
        }

        &.active-link.animate-underline::after {
          width: 100%;
        }
      }
    }

    @media (width > 62.5rem) {
      display: block !important;
      position: relative;
      width: fit-content;
      background: none;
      margin-right: 7rem;
      margin-inline: auto;
      top: 0;
      left: 0;
      padding: 0;
      box-shadow: none;
      border-top: none;
      z-index: 0;
      transform: translateY(0);

      & li:not(:last-of-type)::after {
        position: absolute;
        height: 0;
      }
    }

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  .hamburger-btn__open {
    transform: translateX(-180px);

    @media (width > 700px) {
      transform: translateX(-200px);
    }

    @media (prefers-reduced-motion: reduce) {
      left: 14rem;
      transition: none !important;
      transform: none !important;
    }
  }

  .nav-bar.no-transition {
    transition: none !important;
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\      *** HERO-SECTION ***       \\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  .hero-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (width > 62.5rem) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .hero-main-logo-container {
    position: relative;
    top: 3rem;
  }

  .hero-main-logo {
    display: none;

    @media (width > 62.5rem) {
      display: block;
      width: 100%;
      height: auto;
      max-width: clamp(25rem, 38vw, 37.5rem);
      filter: invert(1) brightness(1); 
    }
  }
}

@layer animations {
  @keyframes circle-in-L {
    /* For larger screens */
    from {
      clip-path: circle(0% at 95% 10%);
    }
    to {
      clip-path: circle(100% at 50% 0%);
    }
  }

  @keyframes circle-in-S {
    /* For mobile screens */
    from {
      clip-path: circle(0% at 80% 10%);
    }
    to {
      clip-path: circle(130% at 50% 0%);
    }
  }

  @keyframes circle-out {
    from {
      translate: 0 0;
    }
    to {
      translate: -100% 0;
    }
  }
}
