@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  img,
  picture {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
  }

  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  input,
  button,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      transition: none !important;
      animation: none !important;
    }
  }
}

@layer components {
  @font-face {
    font-display: swap;
    font-family: "Kaushan Script";
    font-style: normal;
    font-weight: 400;
    src: url("/The-Garden-Bar-and-Grill/assets/fonts/kaushan-script-v19-latin-regular.woff2")
      format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/The-Garden-Bar-and-Grill/assets/fonts/open-sans-v43-latin-regular.woff2")
      format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    src: url("/The-Garden-Bar-and-Grill/assets/fonts/open-sans-v43-latin-500.woff2")
      format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/The-Garden-Bar-and-Grill/assets/fonts/open-sans-v43-latin-700.woff2")
      format("woff2");
  }

  :root {
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;

    --fs-logo-dark-text: clamp(0.7rem, 2vw, 0.9rem);
    --fs-logo-light-text: clamp(1.5rem, 3.5vw, 3rem);
    --fs-nav-text-s: clamp(1.35rem, 2.5vw, 1.45rem);
    --fs-nav-text-l: clamp(1rem, 1.25vw, 1.15rem);
    --fs-btn-text: clamp(0.9rem, 3vw, 1rem);
    --fs-text-hero-heading: clamp(2.5rem, 9vw, 3.75rem);
    --fs-text-heading: clamp(3.25rem, 8vw, 4rem);
    --fs-text-body: clamp(1.1rem, 3vw, 1.25rem);

    --ff-heading-pacifico: "Kaushan Script", Arial, sans-serif;
    --ff-body-sans: "Open-Sans", Arial, sans-serif;

    --padd-page-48: clamp(1rem, 6vw, 1.6rem);
    --padd-page-60: clamp(3rem, 6vw, 4rem);
    --marg-heading-16-32: clamp(1.5rem, 4vw, 2rem);
    --marg-heading-32-48: clamp(2rem, 5vw, 3rem);

    --clr-lighter-white: #0f84f9;
    --clr-lighter-black: #1a1a1a;
    --clr-text-white: #f4f4f4;
    --clr-green-100: #e8ffd7;
    --clr-green-200: #93da97;
    --clr-green-250: #8bd58e;
    --clr-green-300: #5e936c;
    --clr-green-350: #5e936cef;
    --clr-green-400: #3e5f44;
    --clr-nav-background-light: #d9d9d9bc;
    --clr-nav-background-dark: #00000061;
    --clr-nav-shadow-light: #00000078;
    --clr-nav-shadow-dark: #ffffff74;

    :focus-visible {
      outline: 2px solid var(--clr-green-300);
      outline-offset: 2px;
    }
  }

  .cmp-section {
    padding-top: var(--padd-page-48);
    min-height: 83vh;
  }

  .cmp-heading {
    font-family: var(--ff-heading-pacifico);
    font-size: var(--fs-text-heading);
    color: var(--clr-green-100);
    margin-bottom: var(--marg-heading-16-32);
    letter-spacing: 0.2em;
    line-height: 1.45em;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;

    @media (width > 62.5rem) {
      /* line-height: 85px; */
      text-shadow: 0 1px 8px rgba(0, 0, 0, 0.888);
    }
  }

  .cmp-text {
    font-family: var(--ff-body-sans);
    color: var(--clr-lighter-white);
    font-size: var(--fs-text-body);
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
  }

  .cmp-info-text {
    position: absolute;
    width: max-content;
    font-family: var(--ff-heading-pacifico);
    font-size: var(--fs-nav-text-s);
    color: var(--clr-green-200);
    text-align: center;
    letter-spacing: 2.5px;
    user-select: none;
    text-shadow: 0px 1px 8px var(--clr-lighter-black);
  }

  .cmp-main-btn {
    --bubble-timing: 3s;

    display: inline-block;
    position: relative;
    font-family: var(--ff-body-sans);
    font-size: var(--fs-btn-text);
    font-weight: 600;
    color: #fff;
    background-color: var(--clr-green-400);
    padding: 1em 2em;
    margin-top: 1.5rem;
    border-radius: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    line-height: normal;
    border: none;
    text-decoration: none;
    box-shadow: 3px 2px 4px var(--clr-lighter-black);
    transition: transform 0.2s ease-out, background-color 0.2s ease-out !important;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: scale(1.07) !important;
        box-shadow: 0 1px 4px var(--clr-lighter-black);
        background-color: var(--clr-green-350);
      }
    }

    &:active {
      transform: scale(0.7) !important;
      box-shadow: -1px -1px 4px #0000002f;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
      z-index: -1000;
      background-repeat: no-repeat;
      pointer-events: none;
    }

    &::after {
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }

    &:hover::before {
      opacity: 0;
      top: -80%;
      background-image: radial-gradient(
          circle,
          var(--clr-green-200) 20%,
          transparent 20%
        ),
        radial-gradient(
          circle,
          transparent 20%,
          var(--clr-green-200) 20%,
          transparent 30%
        ),
        radial-gradient(circle, var(--clr-green-200) 20%, transparent 20%),
        radial-gradient(circle, var(--clr-green-200) 20%, transparent 20%),
        radial-gradient(
          circle,
          transparent 10%,
          var(--clr-green-200) 15%,
          transparent 20%
        ),
        radial-gradient(circle, var(--clr-green-200) 20%, transparent 20%),
        radial-gradient(circle, var(--clr-green-200) 20%, transparent 20%),
        radial-gradient(circle, var(--clr-green-200) 20%, transparent 20%),
        radial-gradient(circle, var(--clr-green-200) 20%, transparent 20%);
      background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
        15% 15%, 10% 10%, 18% 18%;
      background-position: 50% 120%;
      animation: topBubbles var(--bubble-timing) 0.1s ease;
      animation-fill-mode: forwards;
    }

    &:hover::after {
      opacity: 0;
      background-image: radial-gradient(
          circle,
          var(--clr-green-200) 20%,
          transparent 20%
        ),
        radial-gradient(circle, var(--clr-green-200) 20%, transparent 20%),
        radial-gradient(
          circle,
          transparent 10%,
          var(--clr-green-200) 15%,
          transparent 20%
        ),
        radial-gradient(circle, var(--clr-green-200) 20%, transparent 20%),
        radial-gradient(circle, var(--clr-green-200) 20%, transparent 20%),
        radial-gradient(circle, var(--clr-green-200) 20%, transparent 20%),
        radial-gradient(circle, var(--clr-green-200) 20%, transparent 20%);
      background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%,
        18% 18%;
      background-position: 50% 0%;
      animation: bottomBubbles var(--bubble-timing) 0.1s ease;
      animation-fill-mode: forwards;
    }
  }
}

@layer page-transitions {
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    /* Main page animations */

    .loaded .transition-main-heading,
    .loaded .transition-main-text-left,
    .loaded .transition-main-text-right,
    .loaded .transition-main-fade {
      transform: translate(0, 0);
      opacity: 1;
    }

    .loaded .transition-main-heading {
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    html.is-leaving .loaded .transition-main-heading,
    html.is-rendering .loaded .transition-main-heading {
      transform: translateY(-150%) !important;
      opacity: 0;
    }

    .loaded .transition-main-text-left,
    .loaded .transition-main-text-right {
      transition: transform 0.5s ease 0.1s, opacity 0.5s ease 0.1s;
    }

    html.is-leaving .loaded .transition-main-text-left,
    html.is-rendering .loaded .transition-main-text-left {
      transform: translateX(-100%) !important;
      opacity: 0 !important;
    }

    html.is-leaving .loaded .transition-main-text-right,
    html.is-rendering .loaded .transition-main-text-right {
      transform: translateX(100%) !important;
      opacity: 0 !important;
    }

    .loaded .transition-main-fade {
      transition: opacity 0.6s ease 0.2s !important;
    }

    html.is-leaving .loaded .transition-main-fade,
    html.is-rendering .loaded .transition-main-fade {
      opacity: 0 !important;
    }

    /* Swup animations */

    .transition-slide-heading,
    .transition-slide-down,
    .transition-slide-images-down,
    .transition-slide-text-left,
    .transition-slide-text-right,
    .transition-slide-book-right,
    .transition-slide-book-left,
    .transition-slide-carousel {
      transform: translate(0, 0);
      opacity: 1;
    }

    .transition-slide-heading {
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    html.is-leaving .transition-slide-heading,
    html.is-rendering .transition-slide-heading {
      transform: translateY(-150%);
      opacity: 0;
    }

    .transition-slide-images-down {
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    html.is-leaving .transition-slide-images-down {
      transform: translateY(1%);
      opacity: 0;
    }

    .transition-slide-down,
    .transition-slide-text-left,
    .transition-slide-text-right,
    .transition-slide-book-right,
    .transition-slide-book-left {
      transition: transform 0.5s ease 0.1s, opacity 0.5s ease 0.1s;
    }

    html.is-leaving .transition-slide-text-left,
    html.is-rendering .transition-slide-text-left {
      transform: translateX(-100%);
      opacity: 0;
    }

    html.is-leaving .transition-slide-text-right,
    html.is-rendering .transition-slide-text-right {
      transform: translateX(100%);
      opacity: 0;
    }

    html.is-leaving .transition-slide-book-right,
    html.is-rendering .transition-slide-book-right {
      transform: translateX(-150%);
      opacity: 0;
    }

    html.is-leaving .transition-slide-book-left,
    html.is-rendering .transition-slide-book-left {
      transform: translateX(150%);
      opacity: 0;
    }

    html.is-leaving .transition-slide-down,
    html.is-rendering .transition-slide-down {
      transform: translateY(40%);
      opacity: 0;
    }

    .transition-fade {
      transition: opacity 0.6s ease 0.2s, transform 0.2s ease-out,
        background-color 0.3s ease, color 0.3s ease;
    }

    html.is-leaving .transition-fade,
    html.is-rendering .transition-fade {
      opacity: 0;
    }

    .transition-slide-carousel {
      transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s;
    }

    html.is-leaving .transition-slide-carousel {
      transform: translateX(100%);
      opacity: 0;
      transition: transform 0.5s ease, opacity 0.5s ease;
    }

    html.is-rendering .transition-slide-carousel {
      transform: translateX(100%);
      opacity: 0;
    }

    .transition-turtle-spin {
      transform: rotate(0deg);
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    html.is-rendering .transition-turtle-spin {
      transform: rotate(90deg);
      opacity: 0;
    }

    html.is-leaving .transition-turtle-spin {
      transform: rotate(360deg);
      opacity: 0;
    }

    .transition-side-fade {
      transition: opacity 1s ease;
    }

    html.is-leaving .transition-side-fade,
    html.is-rendering .transition-side-fade {
      opacity: 0 !important;
    }

    /* Animation change for dark-mode */
    ::view-transition-old(root) {
      animation-delay: 2.5s;
    }

    ::view-transition-new(root) {
      animation: circle-in-S 2.5s ease-out;
    }

    @media (width > 47.5rem) {
      ::view-transition-new(root) {
        animation: circle-in-L 2.5s ease-out;
      }
    }
  }
}

@layer base {
  html {
    overflow-x: hidden !important;
    overflow-x: clip !important;
  }

  body {
    font-size: 1rem;
    font-family: var(--ff-body-sans);
    font-weight: 400;
    overflow-x: hidden;
    overflow-x: clip;
    margin: 0;
  }

  body.home.loading::before {
    opacity: 0;
    transition: opacity 1.5s ease !important;
  }

  body.home.bg-fade-in::before {
    opacity: 1;
    transition: opacity 0.75s ease;
  }

  body.home {
    --bg-before: url("/The-Garden-Bar-and-Grill/assets/images/day/garden-day-1.webp");
    --before-opacity: 1;

    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.75s ease-in-out;
    z-index: 0;
  }

  body.home::before,
  body.home::after {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 30, 80, 0.35);
    z-index: -1;
    opacity: 0;
    transition: none;
  }

  body.home::before {
    background-image: var(--bg-before);
    opacity: var(--before-opacity, 1);
  }

  body.home::after {
    background-image: var(--bg-after);
    opacity: var(--after-opacity, 0);
  }

  body.home.with-transition::before,
  body.home.with-transition::after {
    transition: opacity 0.75s ease-in-out; /* Change the speed of background images changing*/
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\      *** HEADER ***       \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  #header {
    position: relative;
    top: 0;
    z-index: 1000;
    background-color: var(--clr-nav-background-light);
    box-shadow: 1px 1px 25px var(--clr-nav-shadow-light);

    @media (width > 47.5rem) {
      backdrop-filter: blur(0.25rem);
      -webkit-backdrop-filter: blur(0.25rem);
    }
  }

  .business-logo {
    position: relative;
    width: 100%;
    max-width: 90px;
    aspect-ratio: 120 / 110;
    height: auto;
    padding-block: 0.5rem;
    transition: transform 2.5s ease-out;

    @media (prefers-reduced-motion: reduce) {
      transition: none !important;
    }
  }

  .business-logo-text-dark-wrapper {
    position: relative;
    transform: rotate(-14deg);
    user-select: none;
  }

  .business-logo-text-dark {
    --glitch-timing: 5s;

    position: absolute;
    width: max-content;
    font-family: var(--ff-heading-pacifico);
    font-size: var(--fs-logo-dark-text);
    top: 3.85rem;
    left: 1.5rem;
    letter-spacing: 2.5px;
    text-shadow: 0px 1px 2px var(--clr-lighter-black);
    opacity: 0;
    animation: glitch var(--glitch-timing) linear infinite forwards;

    @media (width <= 62.5rem), (width >= 71.875rem) {
      top: 3.85rem;
      left: 3.5rem;
    }
  }

  .business-logo-text-dark:before,
  .business-logo-text-dark:after {
    content: attr(title);
    position: absolute;
    left: 0;
  }

  .business-logo-text-dark:before {
    animation: glitch-top var(--glitch-timing) linear infinite;
    clip-path: polygon(0 0, 200% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }

  .business-logo-text-dark:after {
    animation: glitch-bottom var(--glitch-timing) linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }

  .hamburger-btn-box {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    order: 1;
  }

  .dark-toggle-text-box {
    position: relative;

    svg {
      position: absolute;
      width: 1.75rem;
      top: 0.9rem;
      right: 4rem;
      animation: arrow-rotate 5s linear infinite;
    }

    .cmp-info-text--pg1 {
      font-size: clamp(1rem, 2vw, 1.25rem);
      top: 3rem;
      right: -2rem;
      backface-visibility: hidden;
      animation: heartbeat 8s cubic-bezier(0.645, 0.045, 0.355, 1) 4s infinite;
    }

    .dark-toggle-text__day {
      display: none;
    }

    .dark-toggle-text__night {
      display: inline-block;
      text-decoration: underline;
      text-underline-offset: 0.1em;
      transform: rotate(11deg);
    }
  }

  .hamburger-btn {
    width: 1.87rem;
    height: 1.5rem;
    background-color: var(--clr-green-300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    border: none;
    z-index: 10;
    padding: 0.75rem;
    border-radius: 30%;
    background-clip: padding-box;
    box-sizing: content-box;
    touch-action: manipulation;
    transition: transform 1.2s;
    /* prettier-ignore */
    transition-timing-function: linear(0, -0.001 6.9%, -0.004 9.1%, -0.008 11%, -0.016 12.9%, -0.025 14.6%, -0.038 16.3%, -0.054 17.9%, -0.073 19.5%, -0.095 21%, -0.152 24.1%, -0.217 27%, -0.358 32.6%, -0.408 35%, -0.428 36.3%, -0.439 37.5%, -0.441 38.6%, -0.436 39.6%, -0.423 40.5%, -0.405 41.3%, -0.35 42.8%, -0.27 44.2%, -0.156 45.6%, -0.014 46.9%, 0.153 48.1%, 0.766 51.4%, 1.05 53.4%, 1.184 54.7%, 1.284 56%, 1.359 57.4%, 1.39 58.2%, 1.413 59%, 1.434 60.2%, 1.439 60.8%, 1.441 61.5%, 1.44 62.2%, 1.436 62.9%, 1.418 64.4%, 1.395 65.7%, 1.365 67.1%, 1.212 73.2%, 1.146 76.2%, 1.089 79.4%, 1.067 81%, 1.047 82.7%, 1.034 84.2%, 1.023 85.8%, 1.014 87.5%, 1.008 89.3%, 1.004 91.2%, 1.001 93.3%, 1);

    span {
      display: block;
      width: 100%;
      height: 2.5px;
      background-color: #c5c3c3;
      border-radius: 3px;
      opacity: 1;
      pointer-events: none;
      transition: transform 0.4s ease-out, opacity 0.6s ease-out;
    }

    &.active {
      transform: scale(1.15);

      span:nth-child(2) {
        transform: translateX(300%);
        opacity: 0;
      }

      span:first-child {
        transform: rotate(410deg) translate(0.5rem, 0.44rem);
        transition-delay: 0.6s;
      }

      span:last-child {
        transform: rotate(-410deg) translate(0.5rem, -0.44rem);
        transition-delay: 0.6s;
      }
    }

    &:hover span,
    &:focus-visible span {
      background: #fff;
    }

    @media (width > 62.5rem) {
      & {
        display: none;
      }
    }
  }

  .nav-bar {
    display: none;
    position: fixed;
    background-color: #fffffff4;
    color: var(--clr-green-300);
    font-weight: 400;
    font-family: var(--ff-heading-pacifico);
    top: 25vh;
    right: -400px;
    width: 28rem;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    z-index: -10;
    border-bottom-left-radius: 4rem;
    border-top-left-radius: 4rem;
    box-shadow: 1px 1px 60px var(--clr-lighter-black);
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transform: translateX(200px);
    /* prettier-ignore */
    transition: transform .75s linear(0, 0.49 7.4%, 0.864 15.3%, 1.005 19.4%, 1.12 23.7%, 1.206 28.1%, 1.267 32.8%, 1.296 36.4%, 1.311 40.2%, 1.313 44.2%, 1.301 48.6%, 1.252 56.9%, 1.105 74.4%, 1.048 82.5%, 1.011 91.1%, 1);

    ul {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1.75rem;
      width: fit-content;
      left: 0.5em;
      margin-right: auto;
      margin-bottom: 0;
      font-size: var(--fs-nav-text-s);
      color: var(--clr-lighter-black);
      letter-spacing: 0.2em;
      list-style: none;

      @media (width > 62.5rem) {
        font-size: var(--fs-nav-text-l);
        flex-direction: row;
        gap: 5rem;
      }
    }

    & li:not(:last-of-type)::after {
      position: relative;
      content: "";
      display: block;
      margin-top: 1.75rem;
      margin-inline: auto;
      height: 2px;
      width: 3rem;
      background: var(--clr-green-400);
      opacity: 0.2;
      margin-block-end: inherit;
    }

    a {
      text-decoration: none;
      color: var(--clr-lighter-black);
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.215);
      transition: color 0.3s ease-out;

      &.active-link {
        color: var(--clr-green-300) !important;
      }

      &:visited {
        color: var(--clr-lighter-black);
      }

      &:hover,
      &:focus-visible {
        color: var(--clr-green-300);
        transition: color 0.2s ease-out;
      }

      @media (width > 62.5rem) {
        &.active-link {
          position: relative;
          color: var(--clr-lighter-black);
        }

        &.active-link::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0%;
          height: 2px;
          background-color: var(--clr-green-300);
          transition: width 0.6s ease-out;
        }

        &.active-link.animate-underline::after {
          width: 100%;
        }
      }
    }

    @media (width > 62.5rem) {
      display: block !important;
      position: relative;
      width: fit-content;
      background: none;
      margin-right: 7rem;
      margin-inline: auto;
      top: 0;
      left: 0;
      padding: 0;
      box-shadow: none;
      border-top: none;
      z-index: 0;
      transform: translateY(0);

      a.active-link {
        color: unset !important;
      }

      & li:not(:last-of-type)::after {
        position: absolute;
        height: 0;
      }
    }
  }

  .hamburger-btn__open {
    transform: translateX(-180px);

    @media (width > 700px) {
      transform: translateX(-200px);
    }

    @media (prefers-reduced-motion: reduce) {
      left: 14rem;
      transition: none !important;
      transform: none !important;
    }
  }

  .nav-bar.no-transition {
    transition: none !important;
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\      *** HERO-SECTION ***       \\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  #hero-section {
    text-align: center;
  }

  .hero-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .hero-text-block {
    @media (width > 62.5rem) {
      position: relative;
      right: 1.5rem;
    }
  }

  #hero-title {
    font-size: var(--fs-text-hero-heading);
    color: var(--clr-lighter-white);
    max-width: 25ch;
    overflow-wrap: normal;
    margin-inline: auto;
    padding-top: 0.75em;
    margin-bottom: var(--marg-heading-32-48);
    border-radius: 5rem;
    letter-spacing: 0.1em;
    backdrop-filter: blur(0.1rem);
    -webkit-backdrop-filter: blur(0.1rem);
    user-select: none;
    text-wrap: balance;

    .hero-title__letters {
      display: inline-flex;
      white-space: nowrap;
    }

    span {
      color: var(--clr-green-200);
      user-select: none;
      animation: bounce 3s ease 6s;
      transition: transform 0.4s ease-out;

      &:hover {
        transform: translateY(-1rem);
        transition: transform 0.4s ease-out;
      }
    }

    @media (width > 62.5rem) {
      padding-top: 0.1em;
      letter-spacing: 0.13em;
    }
  }

  .cmp-text--pg1-s1 {
    color: #fff;
    max-width: 65ch;
    margin-inline: auto;
    padding: 0.5em;
    border: 2px solid #ffffff2f;
    border-radius: clamp(30px, 6vw, 60px);
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.65rem);
    -webkit-backdrop-filter: blur(0.65rem);
    background-color: rgba(0, 0, 0, 0.25);
  }

  .button-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
    max-width: 65%;
    margin-inline: auto;

    @media (width > 37.5rem) {
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
      max-width: 100%;
    }
  }

  .cmp-main-btn--pg1-s1 {
    opacity: 0.9;
    box-shadow: 2px 5px 10px var(--clr-lighter-black);
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
  }

  .hero-main-logo-container {
    position: relative;
    margin-inline: auto;
    margin-block: 2rem;
    transform: rotate(-8deg);

    @media (width > 62.5rem) {
      position: absolute;
      max-width: 18%;
      top: 13rem;
      right: 4rem;
    }

    @media (width > 87.5rem) {
      max-width: 22%;
      top: 10rem;
    }
  }

  .hero-main-logo {
    display: block;
    width: 100%;
    max-width: clamp(12rem, 38vw, 20rem);
    height: auto;
    filter: invert(1) brightness(0.9)
      drop-shadow(2px 1px 4px rgba(0, 0, 0, 0.8))
      drop-shadow(6px 3px 6px rgba(0, 0, 0, 0.65));
    transition: transform 2s ease-out 0.2s;
    transition-timing-function: cubic-bezier(0.694, 0.915, 0.802, 0.013);

    @media (width > 62.5rem) {
      max-width: clamp(25rem, 38vw, 37.5rem);
    }
  }

  .hero-main-logo__easter-egg {
    position: absolute;
    max-width: 50%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translateX(30%);
    transition: transform 0.8s ease-out, opacity 0.6s ease-out;

    @media (width > 87.5rem) {
      max-width: 100%;
      top: 10rem;
    }
  }

  .easter-egg-active {
    opacity: 1;
    transform: translateX(-150%);
    transition: transform 0.8s ease-out, opacity 0.6s ease-out;
  }

  .ufo-svg,
  .butterfly-svg {
    display: none;
    position: absolute;
    width: 10%;
    top: 25rem;
    filter: drop-shadow(6px 4px 2px rgba(0, 0, 0, 0.25))
      drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.15));

    transform: translateX(-2600%);
    animation: ufoFly 16s ease-out 20s, wiggle 0.5s ease-in-out infinite 20s;

    @media (width > 62.5rem) {
      width: 2%;
    }
  }

  .butterfly-svg {
    display: inline;
    animation: butterFly 16s ease-out 20s, wiggle 0.5s ease-in-out infinite 20s;
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\      *** FOOTER ***       \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  #footer {
    position: relative;
    width: 100%;
    padding-block: 0.4em;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 2px solid rgba(255, 255, 255, 0.053);
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(0.1rem) saturate(120%);
    -webkit-backdrop-filter: blur(0.1rem) saturate(120%);
    text-align: center;
    z-index: 999;
    color: var(--clr-green-100);
  }

  .footer-flex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-green-100);

    span {
      margin-right: auto;
      max-width: 18ch;
      font-weight: 700;
      text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.5);
      transition: transform 0.8s ease-in-out;
      /* prettier-ignore */
      transition-timing-function: linear( 0, 0.264 10.2%, 0.428 15.4%, 0.642 20.6%, 0.998 27.7%, 0.766 33.3%, 0.713 35.6%, 0.696 37.8%, 0.713 39.9%, 0.761 42%, 0.998 48%, 0.88 51.6%, 0.853 53.1%, 0.844 54.6%, 0.853 56.1%, 0.878 57.6%, 1 62%, 0.937 64.8%, 0.918 67.2%, 0.935 69.6%, 1 73.4%, 0.97 75.6%, 0.96 77.7%, 0.968 79.7%, 1 83.2%, 0.984 86.8%, 1 92%, 1);

      &:hover {
        transform: scale(1.4);
      }
    }

    a {
      text-decoration: none;
      line-height: 0;
    }

    @media (width > 25rem) {
      span {
        max-width: unset;
      }
    }

    @media (width > 31.25rem) {
      span {
        margin-inline: auto;
      }
    }
  }

  .footer__social-links {
    position: absolute;
    right: 0;
    display: flex;
    gap: 1rem;

    svg {
      width: 1.75rem;
      height: auto;
      border-radius: 25%;
      filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.6));
      transition: transform 0.8s ease-in-out;
      /* prettier-ignore */
      transition-timing-function: linear(
        0, -0.004 8.7%, -0.019 16.8%, -0.111 41.5%, -0.13 49.9%, -0.13 54.6%, -0.12 59%, -0.099 63.1%, -0.067 67%, -0.008 71.8%, 0.071 76.3%, 0.289 84.7%, 0.598 92.6%, 1);

      &:hover {
        transform: rotate(360deg);
      }

      @media (width > 62.5rem) {
        filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.8));
      }
    }
  }
}

@layer animations {
  @keyframes circle-in-L {
    /* For larger screens */
    from {
      clip-path: circle(0% at 91% 8%);
    }
    to {
      clip-path: circle(100% at 50% 0%);
    }
  }

  @keyframes circle-in-S {
    /* For mobile screens */
    from {
      clip-path: circle(0% at 72% 8%);
    }
    to {
      clip-path: circle(130% at 50% 0%);
    }
  }

  @keyframes glitch {
    0%,
    100% {
      color: #93da9700;
      transform: translate(0, 0) skew(0deg);
    }
    2%,
    64% {
      transform: translate(2px, 0) skew(0deg);
    }
    4%,
    60% {
      transform: translate(-2px, 0) skew(0deg);
    }
    10%,
    35%,
    55%,
    80% {
      color: #61d380;
    }
    62% {
      transform: translate(0, 0) skew(5deg);
    }
  }

  @keyframes glitch-top {
    2%,
    64% {
      transform: translate(2px, -2px);
    }
    4%,
    60% {
      transform: translate(-2px, 2px);
    }
    62% {
      transform: translate(13px, -1px) skew(-13deg);
    }
  }

  @keyframes glitch-bottom {
    2%,
    64% {
      transform: translate(-2px, 0);
    }
    4%,
    60% {
      transform: translate(-2px, 0);
    }
    62% {
      transform: translate(-22px, 5px) skew(21deg);
    }
  }

  @keyframes arrow-rotate {
    0% {
      transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
      transform: scale(0.75) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
      transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
  }

  @keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }

  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
      opacity: 1;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
      opacity: 0;
    }
    to {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
      background-image: none;
    }
  }

  @keyframes bottomBubbles {
    0% {
      background-position: 10% 110%, 30% 120%, 55% 110%, 70% 110%, 85% 110%,
        70% 110%, 70% 100%;
      opacity: 1;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
      opacity: 0;
    }
    to {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
      background-image: none;
    }
  }

  @keyframes bounce {
    0%,
    40%,
    to {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-20px);
    }
  }

  #hero-title span:nth-child(2) {
    animation-delay: 6.25s;
  }
  #hero-title span:nth-child(3) {
    animation-delay: 6.5s;
  }
  #hero-title span:nth-child(4) {
    animation-delay: 6.75s;
  }
  #hero-title span:nth-child(5) {
    animation-delay: 7s;
  }
  #hero-title span:nth-child(6) {
    animation-delay: 7.25s;
  }
  #hero-title span:nth-child(7) {
    animation-delay: 7.5s;
  }
  #hero-title span:nth-child(8) {
    animation-delay: 7.75s;
  }
  #hero-title span:nth-child(9) {
    animation-delay: 8s;
  }

  @keyframes roll-out {
    0% {
      transform: translateY(0) rotate(0deg);
      filter: blur(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-800px) rotate(-720deg);
      filter: blur(50px);
      opacity: 0;
    }
  }

  #hero-title span {
    &:active {
      animation: roll-out 0.6s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0s 1
        normal both;
    }
  }

  @keyframes ufoFly {
    0% {
      transform: translateX(-2600%) translateY(-140%) scale(1);
    }
    15% {
      transform: translateX(-500%) translateY(125%) scale(0.4);
    }
    30% {
      transform: translateX(-390%) translateY(-200%) scale(0.7);
    }
    45% {
      transform: translateX(285%) translateY(-140%) scale(1.1);
    }
    60% {
      transform: translateX(100%) translateY(30%) scale(0.8);
    }
    80% {
      transform: translateX(390%) translateY(245%) scale(0.6);
    }
    100% {
      transform: translateX(2000%) translateY(-200%) scale(0.1);
    }
  }

  @keyframes butterFly {
    0% {
      transform: translateX(-2600%) translateY(140%) rotate(50deg) scale(0.3);
    }
    15% {
      transform: translateX(-900%) translateY(-25%) rotate(40deg) scale(1.1);
    }
    30% {
      transform: translateX(-590%) translateY(180%) rotate(80deg) scale(0.6);
    }
    45% {
      transform: translateX(-125%) translateY(-140%) rotate(50deg) scale(0.4);
    }
    60% {
      transform: translateX(100%) translateY(-340%) rotate(100deg) scale(0.9);
    }
    80% {
      transform: translateX(390%) translateY(-450%) rotate(60deg) scale(1.1);
    }
    100% {
      transform: translateX(2000%) translateY(-400%) rotate(80deg) scale(0.1);
    }
  }
}
