:root {
  --clr-lighter-white: #fafbfc;
  --clr-lighter-black: #1a1a1a;
  --clr-text-white: #f4f4f4;
  --clr-nav-background-dark: #00000061;
  --clr-nav-shadow-dark: #ffffff74;
  --clr-dark-theme-100: #7fbf89;
  --clr-dark-theme-200: #4d7a58;
  --clr-dark-theme-300: #33523d;
  --clr-dark-theme-400: #243126;
}

html.dark-mode body.home {
  background: #00000046 url("/assets/images/garden-night.webp") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
}

html.dark-mode body.secondary-pages {
  background-color: var(--clr-dark-theme-400);
}

html.dark-mode .cmp-info-text {
  color: var(--clr-green-200);
}

html.dark-mode .tree-svg{
  opacity: 1;
  transform: translateY(-120px);
  transition: transform 2s ease-out 4s, opacity 2s ease-out;
}

html.dark-mode .flower-svg {
  opacity: 0;
  transform: translateY(0px);
  transition: transform 2s ease-out 2s, opacity 1s ease-out 2s;
}

html.dark-mode p,
html.dark-mode li,
html.dark-mode h1,
html.dark-mode h2,
html.dark-mode h3,
html.dark-mode a,
html.dark-mode span {
  color: var(--clr-text-white);
}

html.dark-mode #header {
  background-color: var(--clr-nav-background-dark);
  box-shadow: 1px 1px 30px var(--nav-shadow-dark);
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(8px);
}

html.dark-mode .nav-bar {
  background-color: var(--clr-dark-theme-300);
  opacity: 0.98;

  & li:not(:last-of-type)::after {
    background-color: var(--clr-lighter-white);
  }

  @media (width > 62.5rem) {
    background-color: unset;
  }
}

html.dark-mode .business-logo-text-dark-wrapper {
  display: block;
}

html.dark-mode .business-logo-text-dark {
  opacity: 1;
  transition: opacity 2s ease-out 3s;
}

html.dark-mode .business-logo {
  filter: invert(1) brightness(2);
  transform: rotateY(360deg);
}

html.dark-mode .hamburger-btn {
  background-color: var(--clr-dark-theme-200);
}

html.dark-mode .dark-toggle-text-box {
  span {
    transform: rotateY(360deg);
    transition: transform 4s ease-out; 
    backface-visibility: hidden;
  }

  .dark-toggle-text__day {
    display: inline-block;
    transform: rotate(11deg);
  }

  .dark-toggle-text__night {
    display: none;
  }
}

html.dark-mode #hero-title {
  color: var(--clr-green-100);

  span {
    color: var(--clr-green-200);
  }
}

html.dark-mode .hero-main-logo {
  filter: invert(1) brightness(1);
  transform: rotateX(360deg);
}

/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

html.dark-mode #dark-mode-toggle #svg-sun {
  transform: translate(-50%, -50%);
  opacity: 1;
}

html.dark-mode #dark-mode-toggle #svg-moon {
  transform: translate(-50%, 50%);
  opacity: 0;
}

#dark-mode-toggle {
  display: block;
  right: 5.25rem;
  width: 3rem;
  height: 3rem;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  svg {
    position: absolute;
    width: 2.5rem;
    height: auto;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }

  #svg-moon {
    z-index: 2;
    transition: transform 0.75s, opacity 0.5s;
  }

  #svg-sun {
    z-index: 1;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: transform 0.75s, opacity 0.5s;
  }

  &:hover {
      transform: scale(1.3);
      transition: transform 0.3s ease-in-out; 
    }

  @media (width > 64rem) {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    margin-left: 1.875rem;
    margin-bottom: 0rem;
  }
}
