@layer components {
}

@layer base {
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\      *** PAGE 5 / SECTION-ONE / CONTACT ***       \\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  .contact-block-flex {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 85dvh;
    gap: 2rem;
  }

  .maps-container {
    position: relative;
    width: 100%;
    padding-inline: .5rem;
    bottom: 0;
  }

  .maps-container__map {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
}
