---
title: 'About page'
bodyClass: 'secondary-pages'
dataPage: 'secondary-pages'
mainClass: 'secondary-pages about-page'
---

{% extends "base.njk" %}

{% block content %}

<section id="about-section" class="cmp-section" aria-labelledby="about-title">
  <div class="wrapper wrapper--mobile-L">

    <div class="about-flex">
      <div class="about-flex__text-block">
        <h1 id="about-title" class="cmp-heading transition-slide-heading">Our Story</h1>
        <p class="cmp-text transition-slide-text-left">The Garden's story began in 2010, on the overgrown grounds of an old abandoned clinic. Clearing decades of tangled weeds and rubble took patience, and little by little the space started to reveal its charm. A lot of friends pitched in, helping to build the grill from scratch, turning the dusty carport into a fully functioning bar and crafting all the furniture from scratch. A mural of a great wave soon brightened the walls, and the variety of decorations gave the restaurant its soul.</p><br>
        <p class="cmp-text transition-slide-text-left">On July 14th 2012, The Garden opened its large door for the very first time, finally revealing itself to the world. Since then, it has grown and evolved year after year, shaped by the same spirit of creativity and community that built it. Check out the Gallery section to see the history for yourself!</p>

        <div class="transition-fade">
          <a class="cmp-main-btn cmp-main-btn--pages" href="/gallery/">Gallery</a>
        </div>
      </div>

      <div class="about-flex__image-block">
        <span class="cmp-info-text cmp-info-text--pg2 transition-slide-text-right"><span class="cmp-info-text--pg2__swipe">Swipe</span><span class="cmp-info-text--pg2__scroll">Scroll</span> to see <br> more highlights</span>
        <span id="carousel-instructions" class="visually-hidden">Scroll on the mouse-wheel to scroll through the pictures. If on mobile, swipe up to see more pictures. Click on a picture to see it in full screen and also flick through the rest of the pictures.</span>

        <div class="about-flex__carousel transition-slide-carousel" role="region" aria-roledescription="carousel" aria-describedby="carousel-instructions" tabindex="0" aria-keyshortcuts="Space" aria-label="Image carousel of a variety of different photos from across the years at the Garden.">
          <div class="about-image-track">
            <!-- Images added in with javascript loop -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}