---
title: 'Gallery page'
bodyClass: 'secondary-pages'
dataPage: 'secondary-pages'
mainClass: 'secondary-pages gallery-page'
---

{% extends "base.njk" %}

{% block content %}

<section id="gallery-section" class="cmp-section gallery-section" aria-labelledby="gallery-title">
  <div class="wrapper">

    <h1 id="gallery-title" class="cmp-heading transition-slide-heading">Gallery</h1>

    <div class="gallery-book-svg-box">
      <div class="gallery-book-svg-box__books-wrapper">
        <div class="gallery-book-svg-box__wrapper" role="button">
          <div class="transition-slide-book-right">
            <span class="cmp-info-text cmp-info-text--pg4">The Gardens <br>origin story</span>
            <img class="gallery-album-image" src="/assets/images/background/origin-cover.webp" loading="eager" alt="" aria-hidden="true">
          </div>
        </div>
        
        <div class="gallery-book-svg-box__wrapper" role="button">
          <div class="transition-slide-book-left">
            <span class="cmp-info-text cmp-info-text--pg4 cmp-info-text--pg4--black">A day as <br> a Gardener</span>
            <img class="gallery-album-image" src="/assets/images/background/book-cover.webp" loading="eager" alt="" aria-hidden="true">
          </div>
        </div>
      </div>

      <div class="gallery-book-svg-box__wrapper gallery-book-svg-box__wrapper--beer-fest">
        <div class="beer-image-box transition-fade">
          <span class="cmp-info-text cmp-info-text--pg4--beer">A Garden <br> Oktoberfest</span>
          <img class="gallery-album-image" src="/assets/images/background/beer-cover.webp" loading="eager" alt="" aria-hidden="true">
        </div>
      </div>
    </div>

    <div class="album-wrapper hidden transition-slide-images-down">
      <div class="album-grid album-grid--1">
        <!-- Images added in with javascript loop -->
        <button class="album-grid__btn cmp-main-btn--pages">← Back</button>
      </div>
    </div>

    <div class="album-wrapper hidden transition-slide-images-down">
      <div class="album-grid album-grid--2">
        <!-- Images added in with javascript loop -->
        <button class="album-grid__btn cmp-main-btn--pages">← Back</button>
      </div>
    </div>

    <div class="album-wrapper hidden transition-slide-images-down">
      <div class="album-grid album-grid--3">
        <!-- Images added in with javascript loop -->
        <button class="album-grid__btn cmp-main-btn--pages">← Back</button>
      </div>
    </div>

    <button class="scrollToTopButton" aria-label="Scroll to top"> ↑ </button>

    {% include "decor.njk" %}
    
  </div>
</section>
{% endblock %}