---
title: 'Reservation page'
bodyClass: 'secondary-pages'
dataPage: 'secondary-pages'
mainClass: 'secondary-pages reserve-page'
---

{% extends "base.njk" %}

{% block content %}
<section id="contact-section" class="cmp-section" aria-labelledby="contact-title">
  <div class="wrapper wrapper--mobile-L">

    <div>
      <h1 id="contact-title" class="cmp-heading cmp-heading--pg5 transition-slide-heading">Contact Us</h1>
      <div class="contact-block-flex">
        <div class="transition-slide-text-left">
          <p class="cmp-text cmp-text--pg5">To make a reservation <br> please call: <span class="phone-span">(+351) 913 187 142</span></p>
          <p class="cmp-text cmp-text--pg5">Calls will be answered from 12:00 PM.</p>
          <p class="cmp-text cmp-text--pg5">Reservations are only required between 6:00 PM and 9:30 PM unless for groups larger than 15 people.</p>
          <p class="cmp-text cmp-text--pg5">Please arrive on time, as tables are held for a maximum of 15 minutes. The kitchen is closed from 10pm.</p>
          <p class="cmp-text cmp-text--pg5">We do not accept reservations through Facebook or Instagram</p>
        </div>
        <div class="maps-container transition-slide-text-right">
          <span class="cmp-info-text" title="Find us here">Find us here</span>
          <iframe title="google-map" class="maps-container__map" aria-label="interactive google-map location of The Garden." src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3182.2458696107615!2d-8.672722099999998!3d37.099264399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1b31cfba04bd27%3A0xfb01021eb23c532e!2sRestaurante%20The%20Garden!5e0!3m2!1sen!2spt!4v1754870120293!5m2!1sen!2spt" width="530" height="450" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}